/* Personalizando a classe mt-4 */
.mt-4 {
    margin-top: 40px; /* Ajuste conforme necessário */
}

/* Centralizando o conteúdo da página */
.container {
    max-width: 90%;  /* Ajuste o valor conforme necessário */
    margin: 0 auto;
    padding-top: 20px;
}

/* Centralizando a tabela */
table {
    width: 100%; /* Ou ajuste conforme a necessidade */
    margin: 0 auto;
    border-collapse: collapse;
}

/* Personalizando o estilo das células da tabela */
table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

/* Personalizando as células da tabela */
table th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
}

table td {
    background-color: #ffffff;
    color: #333;
}
